@font-face {
    font-family: 'dosisregular';
    src: url('./Assets/fonts/dosis-regular-webfont.woff2') format('woff2'),
         url('./Assets/fonts/dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('./Assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('./Assets/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('./Assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('./Assets/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

body {
  margin: 0;
  font-family: "open_sansregular", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 14px;
  color: #000;
    user-select: none;
}

h1 {
  font-family: 'dosisregular';
}

h1, h2, h3, p {
    margin: 0;
}

h1 {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 5px;
    text-align: center;
    line-height: 1em;
    font-weight: lighter;
}

h1:before {
    position: absolute;
    display: none;
    top: 1em;
    left: -5%;
    background: #000;
    height: 2px;
    width: 110%;
    content: "";
    z-index: -1;
}

h2 {
    font-family: 'open_sansregular';
    font-weight: lighter;
    margin: 1em 0;
    font-size: 1.2em;
}

h3 {
    font-family: 'open_sansbold';
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
}

h4 {
    font-family: 'open_sansbold';
    color: #798285;
    font-weight: bold;
    display: inline-block;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

p, .content__description span {
    font-family: 'open_sansregular';
    color: #acacac;
    font-size: .9em;
    line-height: 1.6em;
    letter-spacing: 0.1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

iframe {
    width: 100%;
    height: 100%;
}

section {
    position: relative;
    margin-top: 3em;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

button:focus {
    outline: none;
}

.fade-appear,
.fade-enter {
    transform: translateY(-5px);
    opacity: 0 !important;
}

.fade-appear.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1 !important;
    transform: translateY(0);
    transition: all .3s ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    transform: translateY(-5px);
    opacity: 0;
    transition: all .3s ease-in;
}

.section__inside {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section__title {
    text-align: center;
}

.section__subtitle {
    text-align: center;
    color: #798285;
    line-height: 1.8em;
    margin: 1em 0;
}

#section__img__wrap {
    overflow: hidden;
    width: 100%;
    height: 700px;
    position: relative;
    z-index: -2;
}

#section__img__wrap img {
    object-fit: none;
    object-position: 50% 0%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}

.content__year {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1em;
}

.content__year::after {
      display: block;
      position: absolute;
      top: 4em;
      width: 100%;
      left: 30px;
      width: calc(100% - 60px);
      height: 1px;
      background: #000;
      content: "";
}

.content__year hr{
    display: none;
}

.content__footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: -20px;
    text-align: center;
}

.content__footer svg, .content__footer span {
    margin-right: .5em;
}

.btn {
    font-family: 'open_sansbold';
    width: 120px;
    height: 30px;
    font-size: .8em;
    border: 1px solid #798285;
    margin-top: 2em;
    text-transform: uppercase;
    background: none;
    transition: border .2s ease, background-color .12s ease, color .2s .12s ease;
}

.btn span {
    color: #000;
    transition: color .2s .12s ease;
}

.btn:hover {
    cursor: pointer;
}

.btn__arrow:hover, .btn__simple:hover {
    border-color: #000;
    background: #000;
    color: #fff;
}

.btn__arrow:hover span, .btn__simple:hover span {
    color: #fff;
}

.btn__arrow span, .btn__simple span {
    padding-right: 0.5em;
    vertical-align: middle;
}

.btn__arrow i{
font-size: inherit;
font-weight: normal;
font-style: normal;
line-height: inherit;
position: relative;
display: inline-block;
transform: translate(0, 0);
vertical-align: middle;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.btn__arrow i:before {
    content: "\003e";
    display: inline-block;
    width: 100%;
}

.btn__black {
    background: #000;
    color: #fff;
}

.btn__black:hover {
    background: #fff;
    color: #000;
}

.btn__icon {
    position: fixed;
    right: 2em;
    width: 3em !important;
    height: 3em !important;
    font-size: 1.2em;
    transition: all .2s ease;
    color: #333;
    border-radius: 50%;
    border-color: transparent;
    background: #fff;
    box-shadow: 0px 7px 10px 0px rgba(0,0,0,.05);
}

.btn__icon:hover {
    cursor: pointer;
    color: #fff;
    transition: all .2s ease;
}

.slick-list, .slick-track {
    height: 100%;
}

.slick-slider {
    width: 100%;
    height: 100%;
}

.slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slick-next {
    visibility: hidden;
    right: -50px;
    z-index: 999;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    background: #fff;
    border-radius: 10px;
    top: calc(50% - 50px);
}

.slick-prev {
    visibility: hidden;
    left: -50px;
    z-index: 999;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    background: #fff;
    border-radius: 5px;
    top: calc(50% - 50px);
}

.slick-prev::before {
    color: #000;
    display: inline-block;
    transform: translate(12px, -12px) rotate(135deg);;
}

.slick-next::before {
    color: #000;
    display: inline-block;
    transform: translate(-12px, 12px) rotate(-45deg);;
}

.slick-next:hover, .slick-next:focus, .slick-prev:hover, .slick-prev:focus {
    background: #fff;
}

.slick-dots {
    position: relative;
    bottom: 4em;
}

.slick-dots li button::before {
    color: #fff !important;
    content: "";
    border-radius: 50%;
    opacity: 1;
    background: #fff;
    width: 10px;
    height: 10px;
}

.slick-active button::before {
    background: none !important;
    border: 1px solid #fff;
    box-sizing: border-box;
}

@media(min-width: 480px) {
    p, .content__description span {
        font-size: 1em;
    }
    section {
        padding: 0 30px;
    }
}

@media(min-width: 640px) {
    h1 {
        line-height: 2em;
    }
    h1:before {
        display: block;
    }
    h2 {
        font-size: 1.5em;
    }
    button {
        width: 180px;
        height: 50px;
        font-size: 1em;
    }
    section {
        padding: 0;
    }
    .section__inside {
        width: 500px;
    }
}

@media(min-width: 1024px) {
    h1 {
        font-size: 3em;
        line-height: 3em;
        padding: 0 calc(100px - 25px);
    }
    h1:before {
        top: calc(1.5em + 1px);
    }
    .section__inside {
        width: 800px;
    }
    .section__subtitle {
        width: 600px;
    }
    .content__year {
        display: block;
        width: 30%;
        padding-right: 1.5em;
    }
    .content__year::after {
        display: none;
    }
    .content__year hr{
        display: block;
    }
    .content__description {
        width: 70%;
    }

    .slick-prev, .slick-next {
        visibility: visible;
    }
}

@media(min-width: 1800px) {
    .section__inside {
        width: 1200px;
    }
    .section__subtitle {
        width: 800px;
    }
    .btn {
      width: 200px;
      height: 50px;
    }
}